body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0; 
    padding: 0; 
    color: #333;
    height: 100vh; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    box-sizing: border-box; 
}

/* Conteneur principal */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%; 
    width: 100%; 
}

/* En-tête principal */
h1 {
    text-align: center;
    color: #007bff;
    margin: 20px 0; /* Ajout d'un espacement autour du titre */
}

/* Conteneur du tableau de bord et des projets de recherche */
#dashboard-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%; 
    padding: 20px; 
    flex: 1;
}

/* Conteneur des modèles et des ressources */
#models-resources-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%; 
    padding: 20px; 
    flex: 1;
}

/* Tableau de bord */
#dashboard {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 20px; 
    flex-grow: 1; 
    text-align: center;
}

/* Styles d'indicateur */
.indicator {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Bouton pour collecter des données */
.small-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.small-button:hover {
    background-color: #218838;
}

/* Quiz de programmation */
#programming-quiz {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 0 20px; 
    flex: 1; 
    text-align: center;
}

/* Projets de recherche */
#research-projects {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 20px; 
    flex-grow: 1; 
    text-align: center;
}

.algorithm-button-container {
    margin-bottom: 10px;
}

.algorithm-button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.algorithm-button-container button:hover {
    background-color: #0056b3;
}

/* Style pour les Resources */
#resources-container {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex-grow: 1; 
    margin: 20px; 
}

/* Styles pour les modèles */
#models {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex-grow: 1; 
    max-width: 800px; /* Limite la largeur maximale */
    margin: 20px; 
}

#models h3 {
    text-align: center; 
    margin-bottom: 5px; 
}

.models-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px; 
}

.model-card {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 2px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 20px;
}

.model-card h4 {
    margin-bottom: 10px; 
}

.model-card button {
    display: block; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 5px auto; 
}

.model-card button:hover {
    background-color: #0056b3; 
}

/* Responsivité */
@media (max-width: 768px) {
    #dashboard-container,
    #dashboard,
    #programming-quiz,
    #research-projects {
        flex-direction: column; 
        width: 100%; 
    }
}

/* Convolution puzzles */
.convolution-puzzle {
    max-width: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.convolution-puzzle__header {
    text-align: center;
    font-size: 1.5rem;
    color: #007bff;
}

.convolution-puzzle__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.convolution-puzzle__item {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    text-align: center;
}

/* Optimization modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal.show {
    display: block; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.controls {
    margin-top: 20px;
}
