/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
    width: 100%; 
}

/* En-tête principal */
h1 {
    text-align: center;
    color: #007bff;
}

 h3 {
    text-align: center; /* Centre le texte */
    margin-bottom: 20px; /* Ajoute un espacement en dessous du titre */
}

/* Conteneur principal */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%; 
}

/* Conteneur du tableau de bord et des projets de recherche */
#dashboard-container {
    display: flex; /* Aligne les éléments horizontalement */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: flex-start; /* Aligne les éléments en haut */
    width: 100%; /* Occupe toute la largeur disponible */
    padding: 20px; /* Ajoute de la marge interne */
    flex-grow: 1;
}


#models-resources-container {
    display: flex; /* Aligne les éléments horizontalement */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: flex-start; /* Aligne les éléments en haut */
    width: 100%; /* Occupe toute la largeur disponible */
    padding: 20px; /* Ajoute de la marge interne */
    flex: 1;
    flex-grow: 1;
}


/* Tableau de bord */
#dashboard {
    width: 100%;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px; /* Espace entre le tableau de bord et le quiz */
    flex-grow: 1; /* Permet au tableau de bord d'occuper l'espace disponible */
    text-align: center;
}

.indicator {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Bouton pour collecter des données */
.small-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.small-button:hover {
    background-color: #218838;
}

/* Quiz de programmation */
#programming-quiz {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 0 20px; /* Espace horizontal autour du quiz */
    flex: 1; /* Permet au quiz d'occuper l'espace disponible */
    text-align: center;
}

/* Projets de recherche */
#research-projects {
    border: 1px solid #ced4da;
    width: 100%; /* Occupe toute la largeur disponible */
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-left: 20px; /* Espace entre le quiz et les projets de recherche */
    flex-grow: 1; /* Permet au panneau de recherche d'occuper tout l'espace disponible */
    text-align: center;
}

.algorithm-button-container {
    margin-bottom: 10px;
}

.algorithm-button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.algorithm-button-container button:hover {
    background-color: #0056b3;
}

/* Style pour les Resources*/
#resources-container {
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure autour du composant */
    border-radius: 8px; /* Coins arrondis */
    background-color: #fff; /* Fond blanc pour le cadre */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
    flex-grow: 1; /* Permet au composant d'occuper tout l'espace disponible */
}

/* Styles pour les modèles */
#models {
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure autour du composant */
    border-radius: 8px; /* Coins arrondis */
    background-color: #fff; /* Fond blanc pour le cadre */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
    flex-grow: 1; /* Permet au composant d'occuper tout l'espace disponible */
    max-width: 800px; /* Largeur maximale pour le conteneur, si nécessaire */
    margin: 0 auto; /* Centrer le conteneur si souhaité */
}

#models h3 {
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 5px; /* Ajoute de l'espacement en dessous du titre */
}

.models-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 5px; /* Réduit l'espace entre les cartes */
    width: 100%;
}

.model-card {
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; /* Réduit l'espacement interne */
    text-align: center; /* Centrer le texte */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
    /* Vous pouvez ajouter une largeur fixe si besoin */
    width: 100%; /* Permet aux cartes de s'adapter à leur conteneur */
}

.model-card h4 {
    margin-bottom: 10px; /* Espacement sous le titre */
}

.model-card button {
    display: block; /* Affiche le bouton comme un bloc */
    width: 100%; /* Permet au bouton d'occuper toute la largeur */
    background-color: #007bff; /* Couleur du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Pas de bordure */
    padding: 10px 15px; /* Espacement interne du bouton (ajustez comme souhaité) */
    border-radius: 5px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur de pointeur pour le bouton */
    margin: 5px 0; /* Espace vertical entre les boutons */
}


.model-card button:hover {
    background-color: #0056b3; /* Couleur du bouton au survol */
}

/* Responsivité */
@media (max-width: 768px) {
    #dashboard-container,
    #dashboard,
    #programming-quiz,
    #research-projects {
        flex-direction: column; /* Empile les éléments sur les petits écrans */
        width: 100%; /* Occupe toute la largeur disponible */
    }
}


/* Convolution puzzles */
.convolution-puzzle {
	max-width: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.convolution-puzzle__header {
    text-align: center;
    font-size: 1.5rem;
    color: #007bff;
}

.convolution-puzzle__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.convolution-puzzle__item {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    text-align: center;
}

/* Optimization modal */
.modal {
    display: none; /* Cacher le modal par défaut */
    position: fixed;
    z-index: 1; /* S'assurer qu'il est au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Pleine largeur */
    height: 100%; /* Pleine hauteur */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0, 0, 0); /* Couleur de fond noire */
    background-color: rgba(0, 0, 0, 0.4); /* Noir transparent */
}

.modal.show {
    display: block; /* Afficher le modal */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur du modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.controls {
    margin-top: 20px;
}

